
.section_container02{

    clear: both;
// margin-top: 200px;
    position: relative;
    width: 100%;
    height: 500px;

    background: green;
}

.section_container02 img{
    width: 50%;
    height: 100%;
    position: absolute;
   
}