.icon-2oiLPRx,
.icon-2oiLPRxMin {
    background-image: url(sprite.png);
    background-position: -2880px -1360px;
    width: 329px;
    height: 397px
}

.icon-2oiLPRxMin {
    background-position: -3209px -1360px
}

.icon-8a2edf2dcdc10db67d42bc0d25c26f291414b39d-thumb-1440x2560-50 {
    background-image: url(sprite.png);
    background-position: 0 0;
    width: 1440px;
    height: 2560px
}

.icon-8a2edf2dcdc10db67d42bc0d25c26f291414b39d-thumb-1440x2560-50Min {
    background-image: url(sprite.png);
    background-position: -1440px 0;
    width: 1440px;
    height: 2560px
}

.icon-E5NFthmUYAQQRlf,
.icon-E5NFthmUYAQQRlfMin {
    background-image: url(sprite.png);
    background-position: -2880px 0;
    width: 680px;
    height: 680px
}

.icon-E5NFthmUYAQQRlfMin {
    background-position: -2880px -680px
}

.icon-dbd_logo,
.icondbd_logoMin- {
    background-image: url(sprite.png);
    background-position: -2880px -1757px;
    width: 335px;
    height: 314px
}

.icon-dbd_logoMin {
    background-position: -3215px -1757px
}

.icon-dbd_main,
.icon-dbd_mainMin {
    background-image: url(sprite.png);
    background-position: -2880px -2071px;
    width: 273px;
    height: 185px
}

.icon-dbd_mainMin {
    background-position: -3153px -2071px
}