body {
    font-family: "メイリオ", Verdana, sans-serif;
    background:black;
    color:white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 5000px;
}


.red{
    color:red;
}


.background_Red{
    background:red;
}

.tes{
    display: block;
    position: relative;
    z-index: 100;
}

.WIDTH0{
    width:0%;
}

.WIDTH100{
    width:100%;
}